mixin field(name, placeholder, id=false, type='text')
  .field
    if type == 'textarea'
      textarea(id=id name=name placeholder=placeholder)
    else
      input(id=id type=type name=name placeholder=placeholder)
    .effect
      - for (var a = 0; a < 4; a++)
        div
