mixin archived(date, description, link)
  li.archived: a(href=link title='Visit link')
    span= date+'.'
    span= description
    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
      path(d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z')
mixin progress(description)
  li.progress
    span In progress..
    span= description
mixin next(description)
  li.next
    span Up Next.
    span= description
mixin pending(order, description)
  li.pending
    span= order+'.'
    span= description

.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span You know that I meant you, right?
      span I couldn’t stop thinking of you since we first met.
    
    //- BUCKET LIST
    ul.blocks
      +next('Have the courage to tell the girl I like that I like her')
      +pending('02', 'Own my first CSS Design Award')
      +progress('Teach web design to 20 people without anything in return')
      +pending('04', 'Visit the Hogwarts School of Witchcraft and Wizardry')
      +archived('Sep 20, 2017', 'Watch Harry Potter’s movies all at once without sleeping', 'https://www.facebook.com/events/125212944878228/?active_tab=discussion')
      +pending('06', 'Have a pet')
      +archived('Mar 23, 2016', '30 day doodle to illustrator', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.542222899267269&type=3')
      +archived('Oct 31, 2017', 'Do Inktober drawing challenge', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.867667380056151&type=3')
      +pending('09', 'Read the license for all the softwares I usually use')
      +pending('10', 'Devote a one day to help random people from the street')
      +pending('11', 'Work in a zoo as a zoo keeper')
      +pending('12', 'Visit Switzerland')
      +pending('13', 'Monthly donate to an animal shelter')
      +archived('Apr 22, 2018', 'Win Startup Weekend 1st place', 'https://www.facebook.com/YahiaRefaiea/posts/971219879700900')
      +pending('15', 'Go to a major festival in China')
      +pending('16', 'Go on a hike')
      +pending('17', 'Take a walk through Italy')
      +pending('18', 'Speak Italian fluently')
      +pending('19', 'Speak 4 International languages fluently')
      +pending('20', 'Attend a live music concert')
      +pending('21', 'Learn self defense')
      +pending('22', 'Watch 100 Hindi movies')
      +pending('23', 'Watch a full boring football game')
      +pending('24', 'Make delicious food to feed myself each day')
      +pending('25', 'Work in a restaurant.. McDonalds?')
      +pending('26', 'Sell food in the street')
      +pending('27', 'Travel first class')
      +pending('28', 'Wear a bear costume and hug random people from the street')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
