mixin archived(date, description)
  li.archived
    span= date+'.'
    span= description
mixin progress(description)
  li.progress
    span In progress..
    span= description
mixin next(description)
  li.next
    span Up Next.
    span= description
mixin pending(order, description)
  li.pending
    span= order+'.'
    span= description

.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span You know that I meant you, right?
      span I couldn’t stop thinking of you since we first met.
    
    //- BUCKET LIST
    ul.blocks
      +next('Have the courage to tell the girl I like that I like her')
      +pending('02', 'Own my first CSS Design Award')
      +progress('Teach web design to 20 people without anything in return')
      +pending('04', 'Visit the Hogwarts School of Witchcraft and Wizardry')
      +archived('Sep 20, 2017', 'Watch Harry Potter’s movies all at once without sleeping')
      +pending('06', 'Have a pet')
      +archived('Mar 23, 2016', '30 day doodle to illustrator')
      +archived('Oct 31, 2017', 'Do Inktober drawing challenge')
      +pending('09', 'Read the license for all the softwares I usually use')
      +pending('10', 'Devote a one day to help random people from the street')
      +pending('11', 'Work in a zoo as a zoo keeper')
      +pending('12', 'Visit Switzerland')
      +pending('13', 'Monthly donate to an animal shelter')
      +archived('Apr 22, 2018', 'Win Startup Weekend 1st place')
      +pending('15', 'Go to a major festival in China')
      +pending('16', 'Go on a hike')
      +pending('17', 'Take a walk through Italy')
      +pending('18', 'Speak Italian fluently')
      +pending('19', 'Speak 4 International languages fluently')
      +pending('20', 'Attend a live music concert')
      +pending('21', 'Learn self defense')
      +pending('22', 'Watch 100 Hindi movies')
      +pending('23', 'Watch a full boring football game')
      +pending('24', 'Make delicious food to feed myself each day')
      +pending('25', 'Work in a restaurant.. McDonalds?')
      +pending('26', 'Sell food in the street')
      +pending('27', 'Travel first class')
      +pending('28', 'Wear a bear costume and hug random people from the street')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
