mixin archived(date, description)
  li.archived
    div= date
    div= description
mixin progress(description)
  li.progress
    div In progress..
    div= description
mixin next(description)
  li.next
    div Up Next.
    div= description
mixin pending(order, description)
  li.pending
    div= order
    div= description

.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span You know that I meant you, right?
      span I couldn’t stop thinking of you since we first met.
    
    //- BUCKET LIST
    ul.blocks
      li First item
      li Second item
      li Third item
    
    .links: a.link.router(href='#' title='Back to home') Back to home
